* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-background: #043873;
    --cor-login: #ffe492;
    --cor-botao: #4f9cf9;
}

/*           FONTES UTILIZADAS             */
/*   font-family: 'DM Sans', sans-serif;   */
/*   font-family: 'Inter', sans-serif;     */

/*-------------  HEADER  ------------ */

header {
    display: flex;
    height: 7.8vh;
    background: var(--cor-background);
    background-size: cover;
    background-position: center;
    align-items: center;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}


head {
    position: relative;
    padding: 0 2rem;
}


.navbar {
    width: 100%;
    height: 60px;


    display: flex;
    align-items: center;
    justify-content: space-around;
}



.navbar .logoheader a {
    font-size: 1.5rem;
    font-weight: bold;

}

.navbar .linksheader {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;


}


.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.containerdiv {
    display: flex;


}

.linksdiv {
    display: flex;
    padding-right: 65px;
    align-items: center;


}

.linksheader img {
    margin-right: 40px;
}

.actiondiv {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 500;




}

.action_btn {
    background-color: var(--cor-login);
    color: var(--cor-background);

    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btnn {
    background-color: var(--cor-botao);
    color: white;
    margin-left: 24px;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;

}

.action_btnn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}


.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: var(--cor-background);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu .action_btnn {
    width: 100%;
    display: flex;
    justify-content: center;
}



/*hero*/
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*responsive header*/

@media(max-width: 768px) {

    .navbar .linksheader,
    .navbar .action_btn {
        display: none;
    }

    .navbar .action_btnn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 768px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*--------------  HOME  -------------*/
#home{
    display: flex;
    background-color: var(--cor-background);
    height: 100vh;
    background-image:url(./SVG/Home/Desktop/Element.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#home-container{
    margin-top: 5.7rem;
    width: 75.5vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-container h1{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #fff;
}
.home-subtitle{
    padding-top: 24px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.home-botao{
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-botao);
    color: #fff;
    height: 60px;
    width: 220px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.home-botao img{
    color: black;
}

/* Para Tablets */

@media screen and (max-width: 768px){
    
#home{
    background-image: url(./SVG/Home/Tablet/Element.svg);
}
#home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-botao{
    padding-top: 20px;
    padding-bottom: 20px;
}

}

/* Para Mobile */

@media screen and (max-width: 320px){
    
    #home{
        background-image: url(./SVG/Home/Mobile/Element.svg);
        background-position-y: -10px;
    }
    #home-container{
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90vw;
    }
    #home-container h1{
        font-size: 36px;
    }

    .home-subtitle {
        font-size: 18px;
    }
    
    .home-botao{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    }
/*--------------  WORK  -------------*/
#work{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.container_work{
    justify-content: center;
    display: flex;
    align-items: center;
}

.imagens_work img{
    display: flex;
    width: 500px;
    margin-left: 219px;
}

.textos_work{
    margin-left: 100px;
    margin-right: 330px;
}

.textos_work h1{
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    font-weight: 700;
}

.underline{
    position: absolute;
}

.textos_work p{
    margin-top: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-right: 100px;
}

.botao-t {
    margin-top: 60px;
    background-color: #4F9CF9;
    width: 186px;
    height: 63px;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.textos_work span{
    background-image: url(./SVG/Work/underline\ together.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

@media (max-width: 768px){
    #work{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100vh;
    }
    
    .container_work{
        flex-wrap: wrap-reverse;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .imagens_work img{
        display: flex;
        width: 300px;
        margin-top: 100px;
        margin-left: 0px;
    }
    
    .textos_work{
        align-items: center;
        justify-content: center;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .textos_work h1{
        font-family: 'Inter', sans-serif;
        font-size: 54px;
        font-weight: 700;
        text-align: center;
    }
    
    .underline{
        position: absolute;
    }
    
    .textos_work p{
        margin-top: 24px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin-right: 70px;
        margin-left: 70px;
        text-align: center;
    }
    
    .botao_work{
        display: flex;
        justify-content: center;
    }

    .botao-t {
        margin-top: 60px;
        background-color: #4F9CF9;
        width: 186px;
        height: 63px;
        box-sizing: border-box;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
    }
    
    .textos_work span{
        background-image: url(./SVG/Work/underline\ together.svg);
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
}

@media (max-width: 320px){
    #work{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100vh;
    }
    
    .container_work{
        flex-wrap: wrap-reverse;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .imagens_work img{
        display: flex;
        width: 250px;
        margin-top: 100px;
        margin-left: 0px;
    }
    
    .textos_work{
        align-items: center;
        justify-content: center;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .textos_work h1{
        font-family: 'Inter', sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }
    
    .underline{
        position: absolute;
    }
    
    .textos_work p{
        margin-top: 24px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin-right: 40px;
        margin-left: 40px;
        text-align: center;
    }
    
    .botao_work{
        display: flex;
        justify-content: center;
    }

    .botao-t {
        margin-top: 60px;
        background-color: #4F9CF9;
        width: 186px;
        height: 63px;
        box-sizing: border-box;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
    }
    
    .textos_work span{
        background-image: url(./SVG/Work/underline\ together.svg);
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
}
/*-------------  FOOTER  ------------*/
footer{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 10vh;
    display: flex;
    background-color: #043873;
}
.Texto_footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 3vh;
    margin-left: 2vw;
    color: white;
    width: 35vw;
}
/*----------------- logos ----------------- */
.redes_sociais{
    margin-top: 2.8vh;
    margin-left: 50vw;
}
#logo_twitter{
    margin-left: 1.3vw;
}
#logo_linkedin{
    margin-left: 1.3vw;
}
/* responsividade */
@media screen and (max-width: 768px) {
.redes_sociais{
    margin: 0;
    visibility: hidden;
}
.Texto_footer{
    display: flex;
    width: 90vw;
}


}
@media screen and (max-width: 320px) {
.redes_sociais{
    margin: 0;
    width: 0px;
    height: 0px;
    visibility: hidden;
}
.Texto_footer{
    margin: 0;
    font-size: 10px;
    display: flex;
    gap: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
}