* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --cor-background:#043873;
    --cor-login: #ffe492;
    --cor-botao: #4f9cf9;
}

/*           FONTES UTILIZADAS             */
/*   font-family: 'DM Sans', sans-serif;   */
/*   font-family: 'Inter', sans-serif;     */


/*-------------  HEADER  ------------ */

/*--------------  HOME  -------------*/

/*--------------  WORK  -------------*/

/*-------------  FOOTER  ------------*/
